.navbar {
  height: 55px;
  border-bottom: 1px solid lightgray;
  margin: 0 10px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.logoContainer {
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo {
  color: #fff;
  background-color: #05386B;
  width: 25px;
  height: 25px;
  padding: 4px;
  font-size: 25px;
  border-radius: 30px;
}

.title {
  color: #00000C;
  margin-left: 0px;
  font-size: 0px;
}

.searchBar {
  width: stretch;
  position: relative;
  margin: 0 25px;
  max-width: 600px;
}

.searchInput {
  width: stretch;
  height: 40px;
  border: none;
  background-color: #f0ecec;
  border-radius: 20px;
  padding-left: 40px;
  font-size: 15px;
}

.searchIcon {
  position: absolute;
  font-size: 17px;
  top: 11px;
  left: 10px;
}

.searchInput:hover {
  background-color: #e8e4ec;
}

.searchInput:focus {
  outline: none;
}

@media (min-width: 960px) {
  .title {
    margin-left: 5px;
    font-size: 21px;
  }
}