.btnBox {
  width: 80px;
  height: 40px;
}

.section, .profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 25px;
}

.small {
  font-size: 20px;
  margin-left: 5px;
}

.profileContainer {
  width: 80px;
  height: 40px;
}

.profile, .section {
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 5px;
  transition: all 0.5s;
  cursor: pointer;
}

.profile:hover {
  border: 1px solid #05386B;
}

.section:hover {
  background-color: lightgray;
}