.header {
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

.description {
  font-size: 14px;
}

.footer {
  margin-top: 20px;
}

.link {
  text-decoration: underline;
  color: #05386B;
  cursor: pointer;
}

.errorMsg, .visibleErr {
  font-size: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.errorMsg {
  visibility: hidden;
}

.visibleErr {
  color: red;
  visibility: visible;
}